@use "include" as *;

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  &-layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;

    .footer {
      padding-bottom: 3rem;
    }
  }

  &-brand {
    font-size: calc($base-size * 3);
    span {
      font-size: $base-size;
      font-weight: 200;
    }
  }

  &-form {
    @include center-content($def-w: 40rem);
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &-button {
    margin: 0 auto;
  }
}
